.nav {
  position: fixed;
  top: 0;
  color: #999;
  padding: 20px;
  width: 100%;
  height: 30px;
  z-index: 1;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav_left:first-child {
  margin-left: 100px;
}

.nav_left > span {
  margin-right: 20px;
  cursor: pointer;
}

.nav_left > span:hover {
  color: #fff;
}

.nav_black {
  background-color: #111;
}

.nav_logo {
  position: fixed;
  left: 0;
  width: 80px;
  object-fit: contain;
  padding-left: 20px;
  padding-right: 40px;
  cursor: pointer;
}

.nav_avatar {
  right: 20px;
  width: 30px;
  cursor: pointer;
}

.nav_right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 50px;
}

.nav_right > span {
  cursor: pointer;
}

.nav_right > span:hover {
  color: #fff;
}

.nav_icon {
  margin: 0px 15px;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.nav_icon:hover {
  color: #fff;
}

.nav_profile > .nav_options {
  display: none;
  background-color: black;
  border-radius: 5px;
  margin-right: 1.5rem;
}

.nav_options > span {
  color: #999;
  padding: 10px;
  cursor: pointer;
}

.nav_profile:hover > .nav_options {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.nav_profile > .nav_options > span:hover {
  color: #fff;
}
